asgiref==3.6.0
backports.zoneinfo==0.2.1;python_version<"3.9"
bootstrap4==0.1.0
boto3==1.26.50
botocore==1.29.50
crispy-tailwind==0.5.0
dj-database-url==0.5.0
Django==4.1.5
django-bootstrap4==22.3
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-storages==1.13.2
gunicorn==20.1.0
jmespath==1.0.1
Pillow==9.4.0
psycopg2==2.9.5
pysqlite3==0.5.0
s3transfer==0.6.0
sqlparse==0.4.3
whitenoise==6.3.0
