{% extends 'base.html' %}

{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 opacity-50" src="/media/boxed-water-is-better-zQNDCje06VM-unsplash.jpg" alt="First slide">
      <div class="carousel-caption text-left d-none d-md-block">
        <h1 class="display-1 font-weight-bold text-orange">Welcome to TrueFit!</h1>
        <p>Here you will find tons of free info on training and nutrition</p>
      </div>
    </div>
  </div>
</div>


{% for article in articles %}
<hr>
<div class="container">
  <div class="row">
    <div class="col-4 d-none d-lg-block">  <img class="img-fluid" src="{{ article.thumb.url }}" alt="post image">
    </div>
    <div class="col-8">
      <p class="card-text">{{ article.category }}</p>
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.snippet }}</p>
      <p class="card-text">By: {{ article.author }}</p>
      <a href="{% url 'articles:detail' slug=article.slug %}" class="btn btn-primary">Read</a>
    </div>
  </div>
</div>
<hr>
{% endfor %}
  {% endblock %}



