

.logo-img {
    margin-left: 5%;
    width: 20%;
    height: 20%;
}

.header-class {
    margin-bottom: 5%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.footer-class {
    position: fixed;
    bottom: 0;
    width: 100%;

}

.article-container{
    margin-bottom: 10%;
    margin-top: 5%;
}